name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ] # , windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
          check-latest: true

      - name: Get dependencies
        run: |
          go mod download
          go get github.com/go-pg/pg/v9

      - name: Test
        run: go test -race -cover -coverprofile=coverage -covermode=atomic ./...

      - name: Build
        run: go build -v .

  coverage:
    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: coverage
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage
          flags: unittests
          fail_ci_if_error: false
          verbose: true
